.ui-button-text {
  font-size: 13px;
  margin-left: 9px;
}

.us-main-container {
  height: calc(100vh - 244px);
  overflow-y: auto;
}

.us-edit-container {
   height: calc(100vh - 240px);
  overflow-y: auto;
}
