<div class="row-flex-space">
  <div>
    <p-card class="p-card-properties_form">
      <p-header class="row-flex-space">
        <p>{{"Students"}}</p>
       <div style="margin-right: 1rem" class="input-group-btn">
          <button pButton type="button"
                  (click)="createNewStudent()" label="Add Stduent"
                  class="ui-button-rounded"></button>
     </div>
      </p-header>
      <div class="us-main-container">
         <div class="margin-top">
          <div class="primeng-datatable-container">
            <p-table [value]="students" (onLazyLoad)="getItems($event)" [paginator]="true"
                     [rows]="10" [totalRecords]="totalRecords" 
                     selectionMode="single" (onRowSelect)="onRowSelect($event)"
                     dataKey="id" #resultTable>

              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 125px" pSortableColumn="FirstName">
                    {{"First Name"}}
                    <p-sortIcon field="FirstName"></p-sortIcon>
                  </th>
                  <th style="width: 125px" pSortableColumn="LastName">
                    {{"Last Name"}}
                    <p-sortIcon field="LastName"></p-sortIcon>
                  </th>
                  <th style="width: 250px" pSortableColumn="StudentID">
                    {{"Student ID"}}
                    <p-sortIcon field="StudentID"></p-sortIcon>
                  </th>
                  <th style="width: 100px" pSortableColumn="Address">
                    {{"Address"}}
                    <p-sortIcon field="Address"></p-sortIcon>
                  </th>
                  <th style="width: 125px" pSortableColumn="EmailAddress">
                    {{"Email Address"}}
                    <p-sortIcon field="EmailAddress"></p-sortIcon>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit">
                <tr [pSelectableRow]="record">
                  <td style="width: 125px">
                    {{record.firstName}}
                  </td>
                  <td style="width: 125px">
                    {{record.lastName}}
                  </td>
                  <td style="width: 250px">
                    {{record.studentID}}
                  </td>
                  <td style="width: 100px">
                    {{record.address}}
                  </td>
                  <td style="width: 125px">
                    {{record.emailAddress}}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
              </ng-template>
              <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
              </ng-template>
            </p-table>
          
          </div>
        </div>
      </div>
    </p-card>
  </div>
  <div>
    <createStudent #createStudent (onSave)="getItems()"></createStudent>
  </div>
</div>
